<div class="container sm-space">
  <div class="panel panel-primary">
    <div class="panel-heading">A propos</div>
    <div class="panel-body">
      <p>Projet de fin d'année réalisée par Christophe COUCHY</p>
      <p>Il s’agit d’un projet personnel réalisé suite à l’expression d’un besoin dans mon ancienne entreprise. <br>J’ai eu la chance de travailler au siège de cette société, qui est l’un des leaders européens en matériel de bureau, matériel scolaire et fournitures.<br>
        J’ai pu constater que du fait du nombre important de salariés, beaucoup ne se connaissaient pas les uns les autres, et il était fréquent de rechercher le nom d’une personne, ou son numéro de téléphone professionnel.<br>
        L’intranet n’ayant pas été entretenu au fil des années, le manque d’un simple trombinoscope se faisait donc sentir.<br>
        A l’époque des réseaux sociaux, il sera intéressant de créer un type de « Facebook local ».<br>
        Pour réaliser ce projet, je vais créer une application web JEE, avec :<br>

        - une partie Back-End sous technologie Java, avec le framework Spring.<br>
        - une partie Front-End réalisé avec le framework Angular.<br>
        - une base de données en SQL.<br>
        La finalité d’un tel projet n’est nullement lucrative. Il s’agit plus simplement de permettre de connecter les gens entre eux.<br>
      </p>

    </div>
  </div>
</div>
